<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>PokeDex Advanced</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button routerLink="/category-list" routerLinkActive="active"> Categorias </a>
            <a mat-button routerLink="/pokemon-list" routerLinkActive="active"> Pokemons </a>
            <a mat-button routerLink="/statistics-list" routerLinkActive="active"> Estadisticas</a>
            <a mat-button routerLink="/pokemon-my-favorite" routerLinkActive="active"> Favoritos</a>
            
        </div>
    </mat-toolbar-row>

</mat-toolbar>